body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.text-container {
    width: 60%; /* Уменьшите этот параметр по мере необходимости */
}

.text {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}

img {
    max-width: 100%; /* Фотографии будут подстраиваться под ширину контейнера */
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
